<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Personal ToDoList">
    <meta name="description" content="Your very own personal To Do List that is super ez to use!">
    <title>To Do List</title>
    <link rel="shortcut icon" href="images/todolist.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>